<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Kassensturz{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/calculator.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cash-counter.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">
</head>
<body>

    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div class="language-switcher">
            <span id="language_label">Language:</span>
            <button type="button" class="lang-button" data-lang="en">English</button>
            <button type="button" class="lang-button" data-lang="de">Deutsch</button>
        </div>

        <div class="theme-switcher">
            <span id="theme_label">Theme:</span>
            <button type="button" class="theme-button" data-theme="dark" id="theme_dark_button">Dark</button>
            <button type="button" class="theme-button" data-theme="light" id="theme_light_button">Light</button>
        </div>
    </footer>

    <script type="module" src="{{ url_for('static', filename='scripts/base-page.js') }}"></script>
    {% block page_scripts %}{% endblock %}
</body>
</html>